*
.vscode
.DS_Store
build/
bin/

!*.c
!*.h
!Makefile
!*.md
!*.cpp
!*.hpp
!*.py
!*.csv

!src/

!trabalho1
!trabalho1/*.py
!trabalho1/results/
!trabalho1/results/*.csv
!trabalho1/plots/
!trabalho1/plots/*.png
!prova

!trabalho2
